/* 1. layout ------------------------------------------- */

.contentWrapper {
  position: relative;
  top: 0;
  left: 0;
  padding: 33px 33px 0;
  margin-left: 256px;
  min-height: 100vh;
  background: rgb(240, 240, 245);
}

.pageTitle {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
}

.subTitle {
  font-size: small;
  color: lightslategrey;
}


/* 2. input form ------------------------------------------- */

.formTitle {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
}

.inputTitle {
  width: 140px;
}

.inputBody {
  border-style: none;
  border-radius: 14px;
  height: 40px;
  width: 200px;
  text-indent: 10px;
  color: darkslategray;
}

.inputBodyLong {
  width: 500px;
}

.inputBody::placeholder {
  opacity: 0.5;
  font-size: small;
}

.inputBody:hover {
  box-shadow: 0 1px 3px 0 lightgrey;
}

.inputBody:focus {
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 14px;
}

.inputBody:disabled {
  color: rgb(47, 79, 79, 0.8);
  background-color: rgba(248, 248, 255, 0.7);
}

.inputBody:disabled:hover {
  box-shadow: none;
}

.inputError {
  font-style: italic;
  color: orangered;
  background-color: rgba(255, 220, 220, 0.3);
  border-radius: 14px;
  border: 1px solid rgba(255, 69, 0, 0.7);
  padding: 3px 12px;
  margin-left: 12px;
  font-size: small;
}

.inputSubmit {
  margin-top: 50px;
}

.flexContainer {
  display: flex;
  align-items: center;
}


/* 3. card ------------------------------------------- */

.carCard {
  opacity: 0.9;
  font-size: small;
}

.carCard:hover {
  opacity: 1;
  box-shadow: 0 2px 10px 0 lightgrey;
}

.carCardTitle {
  font-size: medium;
}

.carCardImage {
  object-fit: contain;
  width: 100%;
  height: 160px;
}

.carCardBody {
  background-color: rgb(250, 250, 255);
}


/* 4. hiring car ------------------------------------------- */

.hireCarImage {
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.hireCarImageFrame {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.hireCard {
  background-color: ghostwhite !important;
}

.hireCardHeader {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  padding: 15px 15px !important;
  background-color: rgb(244, 244, 251) !important;
}

.hireButton {
  display: flex;
  justify-content: flex-end;
}

/* 5. date picker  ------------------------------------------- */

.datePickerErrorWrapper {
  margin: 5px 0 15px 0;
}

.datePickerError {
  font-style: italic;
  color: orangered;
  background-color: rgba(255, 220, 220, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(255, 69, 0, 0.7);
  padding: 3px 12px;
  font-size: small;
}

.datePickerBody {
  border: 1px solid gainsboro;
  border-radius: 6px;
  color: darkslategray;
  width: 200px;
  height: 40px;
  text-indent: 10px;
}

.datePickerBody:hover {
  box-shadow: 0 1px 3px 0 lightgrey;
}

.datePickerBody:focus {
  outline: none;
  border: 1px solid rgb(220, 20, 60, 0.7);  
}


/* 6. table  ------------------------------------------- */

.tableTitle {
  width: 140px;
  color: slategrey !important;
}

td, th {
  padding-left: 13px !important;
  padding-right: 13px !important;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 175, 161); 
}

.tableTopBorder {
  color: darkslategrey !important;
  border-top: 1px solid gainsboro !important;
}

.tableBorderless {
  border: none !important; 
  vertical-align: middle;
  height: 40px;
}

.tableScrollable {
  height: 220px;
  overflow: auto;
}

.tableCustom {
  color: darkslategrey !important;
}

.th1 { 
  width: 15%;
}

.th2 { 
  width: 20%;
}

.th3 { 
  width: 15%;
}

.th4 { 
  width: 10%;
}

.th5 { 
  width: 20%;
}

.th6 { 
  width: 20%;
}


/* 7. share button  ------------------------------------------- */
.shareButtonWrapper {
  min-width: 40px;
  display: inline-block;
}