/* 1. layout ------------------------------------------- */

.content-wrapper {
  position: relative;
  top: 0;
  left: 0;
  padding: 33px 33px 0;
  margin-left: 256px;
  min-height: 100vh;
  background: rgb(245, 245, 250);
}

.page-title {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
}