/* 1. input form --------------------------------------- */

.formWrapper {
  position: absolute;
  height: 100vh;
  top: 0px;
  display: flex;
  align-items: center;
  right: 0px;
  width: 30vw;
}

.formTitle {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
}

.formError {
  font-style: italic;
  color: orangered;
  background-color: rgba(255, 220, 220, 0.3);
  border-radius: 14px;
  border: 1px solid rgba(255, 69, 0, 0.7);
  padding: 6px 12px;
  line-height: 18px;
  font-size: 14px;
}

.inputBody {
  border-style: none;
  border-radius: 14px;
  height: 40px;
  width: 200px;
  text-indent: 10px;
  color: darkslategray;
}

.inputBody::placeholder {
  opacity: 0.5;
  font-size: small;
}

.inputBody:hover {
  box-shadow: 0 1px 5px 0 gainsboro;
}

.inputBody:focus {
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 14px;
}


/* 2. input background --------------------------------- */

.wave {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh; 
}

.wave1 {
  width: 50vw; 
  border-radius: 30% 0 0 80%; 
  background-color: ghostwhite;
  z-index: -9;
  opacity: 0.8;
}

.wave2 {
  width: 45vw; 
  border-radius: 70% 0 0 50%; 
  background-color: slategrey;
  z-index: -10;
  opacity: 0.3;
}